 
environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      GENERATOR: "Visual Studio 16 2019"
      ARCH: "-Ax64"

platform:
  - x64
 
configuration:
  - Release

install:
    - git submodule update --init --recursive
    

before_build:
    - cmd: echo %GENERATOR%
    - cmd: cd ..
    - cmd: mkdir build
    - cmd: cd build
    - cmd: cmake ..\3d-math-benchmark -G"%GENERATOR%" "%ARCH%" . 
    - sh: cmake . 

build:
  project: C:/projects/build/3d-math-benchmark.sln
  
test_script:
  - 'C:\projects\build\%CONFIGURATION%\glm_vec4.exe'
  - 'C:\projects\build\%CONFIGURATION%\glm_vec4_simd.exe'
  - 'C:\projects\build\%CONFIGURATION%\eigen_vec4.exe'
  - 'C:\projects\build\%CONFIGURATION%\blaze_vec4.exe'
  - 'C:\projects\build\%CONFIGURATION%\mathfu_vec4.exe'
  - 'C:\projects\build\%CONFIGURATION%\mango_vec4.exe'
  - 'C:\projects\build\%CONFIGURATION%\glm_swizzle.exe'
  - 'C:\projects\build\%CONFIGURATION%\mango_swizzle.exe'
  