 
environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      GENERATOR: "Visual Studio 16 2019"
      ARCH: "-Ax64"

platform:
  - x64
 
configuration:
  - Release

install:
    - git submodule update --init --recursive
    

before_build:
    - cmd: echo %GENERATOR%
    - cmd: cd ..
    - cmd: mkdir build
    - cmd: cd build
    - cmd: cmake ..\3d-math-benchmark -G"%GENERATOR%" "%ARCH%" . 
    - sh: cmake . 

build:
  project: $(APPVEYOR_BUILD_FOLDER)\3d-math-benchmark.sln
  
test_script:
  - '%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\glm_vec4.exe'
  - '%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\glm_vec4_simd.exe'
  - '%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\eigen_vec4_simd.exe'
  - '%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\blaze_vec4_simd.exe'
  - '%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\mathfu_vec4_simd.exe'
  